{% extends "MDA/base.html" %}

{% block title %}
This is a home page
{% endblock %}

{% block content %}

<h1>My Home Page</h1>
{{fruit}}
<h3>Users</h3>

<p>Check out all our <a href="member/">users</a></p>

<!-- variable  -->

{% with first="Tobias" %}
<h1>Hello {{first}}</h1>
{% endwith %}

<!-- Template Tags  -->

{% if greeting == 1 %}
<h2>Hello</h2>
{% else %}
<h4>Bye</h4>
{% endif %}

<!-- elif  -->

{% if greeting == 1 %}
<h2>Hello</h2>
{% elif greeting == 2 %}
<h2>Welcome</h2>
{% endif %}
{% endblock %}