<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        table{
            color:brown;
            border: 2px solid blue;
            background-color: darkcyan;
            text-align: center;
            text-align: justify;
        }
        table tr th td{
            border: 3px solid green;
        }
    </style>
</head>
<body>
    <h1>This is a django</h1>
    
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Mobile Number</th>
            <th>Joined Date</th>
            <th>View Details</th>
        </tr>
        {% for a in new_data %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.firstName}} {{a.lastName}}</td>
            <td>{{a.age}}</td>
            <td>{{a.mobile}}</td>
            <td>{{a.joined}}</td>
            <td><a href="date/{{a.id}}">-></a></td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>