<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>This is a django</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Mobile Number</th>
            <th>Joined Date</th>
        </tr>
        {% for x in a %}
        <tr>
            <td>{{a.firstName}} {{a.lastName}}</td>
            <td>{{a.age}}</td>
            <td>{{a.mobile}}</td>
            <td>{{a.joined_date}}</td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>